#navBar {

    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

}

#navBar .navBar .col-auto a {
    white-space: nowrap;          /* Retirar quebra de linha do sobre nós */
  }     


.col-auto a {

    font-size: small;
    text-decoration: none;
    font-family: Poppin;
    color: #AE6ADB;
    transition: color 0.3s, border-bottom 0.1s; /* Animação suave */
    margin: 0px;

}

@media (min-width: 768px) {
    #navBar .navBar .col-auto a {
      margin: 0 60px; /* Aumenta o espaçamento em telas médias e maiores */
    }
}
.col-auto a:hover {

    border-bottom: 2px solid #AE6ADB; /* Adiciona uma linha inferior no hover */
    color: #AE6ADB; /* Muda a cor no hover, opcional */

}

/* INICIO MAIN */

.container-fluid {

    font-family: Poppin;
    color: gray;

}

@media (max-width: 768px) {


    #mainContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: smaller;

    }

    #logo {

    width: 100%;
    height: 100%;

    }

}

#merchan {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

}



img#logo {

    width: 450px;
    height: 350px;

} 

@media (max-width: 768px) {

    img#logo {

        width: 100%;
        height: 200px;

    }

}

@font-face {
    font-family: 'Poppin';
    src: url('../_fontes/poppins-semi-bold.ttf');
    font-weight: normal;
    font-style: normal;
};

