* {

    margin: 0;
    padding: 0;
    gap: 0;

}

nav {

    padding: 10px;

}

nav button {

    padding: 10px;
    background-color: white;
    border: none;
    color: #AE6ADB;
    font-family: 'Poppin';

}

nav button:hover {

    background-color: rgba(174, 106, 219, 0.5) ;
    color: white;
    cursor: pointer;
    border-radius: 10px;


}

.botoesNav {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 100px;

}

.cabecalho {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 350px;
    width: 80%;

}

#merchan {

    font-family: 'Poppin';
    width: 30%;
    text-align: center;
    color: #4F4F4F;

}

@font-face {
    font-family: 'Poppin';
    src: url('../_fontes/poppins-semi-bold.ttf');
    font-weight: normal;
    font-style: normal;
};

